<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>The Guest Book</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed|Open+Sans:400,300,700|Yesteryear" rel="stylesheet" type="text/css"
    />
    <link href="static/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
    <div id="menu-wrapper">
        <div id="menu">
            <ul>
                <li class="current_page_item">
                    <a href="#">Homepage</a>
                </li>
                <li>
                    <a href="#">Sign up</a>
                </li>
                <li>
                    <a href="#">Log in</a>
                </li>
            </ul>
        </div>

    </div>

    <section id="main-banner" class="banner">
        <div class="banner-logo">
            <img src="static/images/guestBookLogo.png" alt="Logo">
        </div>
    </section>


    <div id="header-wrapper">
        <div id="header">
        </div>
    </div>
    <div id="wrapper">
        <!-- end #header -->
        <div id="page">

            <div class="form">

                <form class="form-style-4" action="" onsubmit="" method="post" style="display: {{formDisplay}};">

                    <label class="message" for="message">
                        <input type="text" name="message" required="true" />
                        <span>message</span>
                    </label>

                    <label class="name" for="name">
                        <input type="text" name="name" required="true" />
                        <span>name</span>
                    </label>
                    <label class="submit-b">
                        <span>&nbsp;</span>
                        <input class="button" type="submit" value="Submit" />
                    </label>
                </form>
            </div>

            <div id="page-bgtop">
                <div id="page-bgbtm">
                    <div id="content">

                        {% for comment in users_comments %}
                           <div class="post">
                                <p class="meta">
                                    <span class="date">{{ comment.date }}</span>
                                    <span class="posted">Posted by
                                        <a href="#">{{ comment.name }}</a>
                                    </span>
                                </p>
                                <div class="entry">
                                <p>{{ comment.message }}</p>
                                </div>
                           </div>

                        {% endfor %}

                        <div class="post">
                            <p class="meta">
                                <span class="date">May 10, 2013</span>
                                <span class="posted">Posted by
                                    <a href="#">Someone</a>
                                </span>
                            </p>
                            <div style="clear: both;">&nbsp;</div>
                            <div class="entry">
                                <p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum
                                    ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci
                                    in felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>